In [1]:
import pandas

In [2]:
df = pandas.read_csv('./data/gapminder.tsv', sep='\t')          # shift tab and tab are used. shift tab function signature

In [3]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [4]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [5]:
df.index

RangeIndex(start=0, stop=1704, step=1)

In [6]:
df.values

array([['Afghanistan', 'Asia', 1952, 28.801, 8425333, 779.4453145],
       ['Afghanistan', 'Asia', 1957, 30.331999999999997, 9240934,
        820.8530296],
       ['Afghanistan', 'Asia', 1962, 31.997, 10267083, 853.1007099999999],
       ...,
       ['Zimbabwe', 'Africa', 1997, 46.809, 11404948, 792.4499602999999],
       ['Zimbabwe', 'Africa', 2002, 39.989000000000004, 11926563,
        672.0386227000001],
       ['Zimbabwe', 'Africa', 2007, 43.486999999999995, 12311143,
        469.70929810000007]], dtype=object)

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df.shape     # tuple list

(1704, 6)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [10]:
country_df = df['country']

In [11]:
type(country_df)

pandas.core.series.Series

In [12]:
#multiple columns list and subset
subset = df[['country', 'continent', 'year']]

In [13]:
subset.head()

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [14]:
pandas.__version__   # 2 underline

'1.1.3'

In [15]:
# calling rows
df.loc[2]

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [16]:
df.loc[[2, 0]]   #multiple rows

       country continent  year  lifeExp       pop   gdpPercap
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
0  Afghanistan      Asia  1952   28.801   8425333  779.445314

In [17]:
# using index to look for rows
df.iloc[2]

country      Afghanistan
continent           Asia
year                1962
lifeExp           31.997
pop             10267083
gdpPercap        853.101
Name: 2, dtype: object

In [18]:
# 
df.ix[2]

AttributeError: 'DataFrame' object has no attribute 'ix'

In [19]:
# multiple rows and columns
subset = df.loc[:,['year', 'pop']]

In [20]:
subset.head()

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [21]:
df.loc[df['year'] ==1967, ['year', 'pop']]

      year       pop
3     1967  11537966
15    1967   1984060
27    1967  12760499
39    1967   5247469
51    1967  22934225
...    ...       ...
1647  1967  39463910
1659  1967   1142636
1671  1967   6740785
1683  1967   3900000
1695  1967   4995432

[142 rows x 2 columns]

In [24]:
# Frame 23:42 Bit wsie comparison
df.loc[(df['year'] == 1967) & (df['pop'] > 1_000_000), ['year', 'pop']]

      year       pop
3     1967  11537966
15    1967   1984060
27    1967  12760499
39    1967   5247469
51    1967  22934225
...    ...       ...
1647  1967  39463910
1659  1967   1142636
1671  1967   6740785
1683  1967   3900000
1695  1967   4995432

[123 rows x 2 columns]

In [22]:
1_000   # is the same thing as a 1,000

1000